#include <Windows.h>
#include <winver.h>

1 ICON "plas.ico"

1 VERSIONINFO
FILEVERSION     1,1,0,0
PRODUCTVERSION  1,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "Xenixi", "/Xenixi"
      VALUE "FileDescription", "Playlist Assist (background mode)"
      VALUE "FileVersion", "1.1.0"
      VALUE "InternalName", "PlaylistAssist"
      VALUE "LegalCopyright", "(C) Kobe McManus. All rights reserved."
      VALUE "OriginalFilename", "launch-background.exe"
      VALUE "ProductName", "Playlist Assist"
      VALUE "ProductVersion", "1.1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END